django-redis==5.4.0
Django==5.1.2
Pillow==11.0.0
Djangorestframework==3.15.2
psycopg2==2.9.10 #PostgreSQL database adapter for Python
django-cors-headers==4.6.0
djangorestframework-simplejwt==5.3.1
django-filter==24.3
django-redis==5.4.0
redis==5.2.0 #Redis python binding
Hiredis==3.0.0 #Use to enhance psrsing
#django-cacheops==7.1 (not yet used)
gunicorn==23.0.0
whitenoise==6.8.2